@model  IEnumerable<CollectionName>
@{
    ViewData["Title"] = "Collections - Admin";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Collections - Admin</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CollectionName" asp-action="Create" class="btn btn-primary">
                Add new collection
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Description
            </th>
            <th>
                Admin
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Name
                </td>
                <td width="50%">
                    @obj.Description
                </td>
                <td width="25%">
                    @obj.Admin.Name
                </td>
                <td>
                    <div class="w-75" btn-group role="group">
                        <a asp-controller="CollectionName" asp-action="edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><img src="icons/pencil-square.svg" alt="edit">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75" btn-group role="group">
                        <a asp-controller="CollectionName" asp-action="delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><img src="icons/trashcan.svg" alt="delete">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

